.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 30px 20px;
    justify-content: center;
}

.hero-content h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 700px;
}

/* Hero1 Section for Key Features */
.hero1 {
  color: white;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content1 {
  max-width: 700px;
}

.hero-content1 h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.hero-content1 ul {
  list-style-type: disc;
  text-align: left;
  margin: 0 auto;    
  padding-left: 30px; 
}

.hero-content1 li {
  margin-bottom: 12px;
  font-size: 1.1rem;
}


/* Features Section */
.features {
    text-align: center;
    padding: 30px 20px;
    color: white;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.feature-box p {
    margin: 10px auto;
    font-size: 1.1rem;
    max-width: 700px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #1b3953;
    color: white;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive for Mobile */
@media (max-width: 768px){
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-content1 h1 {
        font-size: 1.5rem;
    }

    .hero-content1 li {
        font-size: 1rem;
    }

    .features h2 {
        font-size: 1.5rem;
    }

    .feature-box p {
        font-size: 1rem;
    }
}
