/* Dashboard cards */
.dashboard-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

* {
    box-sizing: border-box;
}

.card {
    background-color: rgba(0,0,0,0.4);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 200px;
    color: white;
}

.card:hover {
    transform: translateY(-5px);
    background-color: rgba(0,0,0,0.6);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.card p {
    font-size: 1.2rem;
}

/* Optional: Make dashboard responsive */
@media (max-width: 768px){
    .dashboard-overview {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 15px;
    }
}
